volumes:
  postgres_data:
      driver: local


services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always 
    volumes:
        - postgres_data:/var/lib/postgresql/data
    environment:
        POSTGRES_DB: ${KEYCLOAK_DB}
        POSTGRES_USER: ${KEYCLOAK_DB_USER}
        POSTGRES_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
    ports:
      - "${KEYCLOAK_DB_PORT}:5432"
    networks:
        - dotstat_network

  keycloak:
    image: quay.io/keycloak/keycloak:26.1.3
    container_name: keycloak
    depends_on:
        - postgres
    ports:
        - "${KEYCLOAK_PORT}:8080"       
    entrypoint:
      - /opt/keycloak/bin/kc.sh
      - start
      - --import-realm
    volumes:
      - "./realm:/opt/keycloak/data/import"
    environment:
        KC_HOSTNAME_STRICT: false        
        KC_HTTP_ENABLED: true
        KC_DB: postgres
        KC_DB_URL_HOST: postgres
        KC_DB_URL_PORT: ${KEYCLOAK_DB_PORT}
        KC_DB_URL_DATABASE: ${KEYCLOAK_DB}
        KC_DB_USERNAME: ${KEYCLOAK_DB_USER}
        KC_DB_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
        KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_USER}
        KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD}
    networks:
        - dotstat_network

networks:
  dotstat_network:
    name: dotstat_common_network